/*
COLORS USED
Primary Color (white): #ffffff;
Secondary Color (Black): #2d2d2d;
cream green: #d6ded8;
*/

/*------OTHER COLORS------
background-color: #A3A083; olive green
background-color: #91877A; mushroom brown
background-color: #B8C2B0; sage green 
background-color: #A8B7C7; dusty blue
background-color: #93A7A1; muted teal
background-color: #BDB7AF; greige 
background-color: #C4B8A5; taupe
background-color: #E8E2D9; beige
*/

/*-----OTHER FONTS-----
/* .reenie-beanie-regular {
    font-family: "Reenie Beanie", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* .mynerve-regular {
    font-family: "Mynerve", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* .gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", serif;
    font-weight: 400;
    font-style: normal;
  } */

/* .schoolbell-regular {
    font-family: "Schoolbell", serif;
    font-weight: 400;
    font-style: normal;
  } */
/*
---------------SIDENOTES---------------
padding: 10px; /* Adds a 10px inner spacing to all sides 
padding: 10px 5px; Adds 10px to top & bottom and 5px to left and right 
padding: 10px 5px 15px 5px; Adds 10px top, 5px right, 15px bottom, 5px left 
----------------------------------------------------------------
OR YOU CAN SPECIFY THE SPACING FOR EVERY DIRECTION
padding-top: 10px;
padding-right: 5px;
padding-bottom: 15px;
padding-left: 5px;
*/

.roboto-mono {
  font-family: "Roboto Mono", serif;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #d6ded8;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  box-shadow: 0px 6px 10px 0px rgba(169, 170, 171, 0.5);
}

body {
  background-color: #fff;
  margin: 0;
  font-family: "Roboto Mono", serif;
  font-size: 18px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

main {
  padding-top: 99px;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em; /* font size = 16px so 2.75 x 16px = 44px */
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/* -----IMAGES----- */
img {
  width: 100%;
}

.logo {
  max-width: 100px;
}

/* -----A TAGS-----*/
a {
  color: #8cb0c6;
  text-decoration: none; /* No underlining */
}

a:visited {
  /* visited link */
  color: #8a8b8c;
}

a:hover,
a:focus {
  color: #1c1d1d;
  text-decoration: underline;
}

a:active {
  /* selected link */
  color: #101010;
}

/* ------BUTTONS------ */
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #d6ded8;
  color: #181717; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #737272; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:visited {
  color: #8a8b8c;
}

.button:hover,
.button:focus {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #737272; /* changes the background color of the button to darker shade */
}

.button.contact,
.button.resume {
  background-color: #c6d4da;
  color: #181717;
  text-transform: uppercase;
  border: 2px solid #2d2d2d;
}

.button.contact:visited,
.button.resume:visited {
  color: #2d2d2d;
}

.button.contact:hover,
.button.contact:focus,
.button.resume:hover,
.button.resume:focus {
  background-color: #e6e6e6;
  color: #2d2d2d;
}

.button.contact,
.button.resume:active {
  background-color: #c6d4da;
  color: #101010;
  border: 2px solid #2d2d2d;
}

/*------------------------------------------------------------------------*/
/* CSS ANIMATION */
#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #cdcdcd;
  }
  50% {
    fill: #d6ded8;
  }
  100% {
    fill: #bbb2da;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*------------------------------------------------------------------*/

/* -----LAYOUT STYLING----- */
.container {
  padding: 0 15px;
  /* max-width: 100%; */
  /* margin: auto; */
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

/* -----NAVIGATION----- */
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #707772;
}

nav > ul > li > a:visited {
  /* color: #8a8b8c; */
  color: #8a8b8c;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #bdb7af;
}

nav > ul > li > a:active {
  color: #101010;
}

#hero {
  background-color: #f3e9e1;
  text-align: center; /*light grayish purple*/
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero h1 {
  text-align: center; /* Centers text */
}

#hero span {
  display: block;
}

#work .row:after {
  content: "";
  clear: both;
  display: table;
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/* -----ABOUT PAGE-------*/
/* #about {
  padding: 40px;
} */

#about h2 {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#about h3 {
  text-align: left;
  padding-bottom: 70px;
}

#about .column {
  padding: 40px;
}

.about-me-title {
  text-align: center;
  padding-top: 30px;
}

.about-img {
  max-width: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  /* border-style: solid; */
  /* border-color: #8a8b8c; */
  box-shadow: 0px 6px 10px 0px rgba(169, 170, 171, 0.5);
}

.skills-container {
  margin-bottom: 30px;
  padding: 40px;
  margin: 0 auto;
}

.skills-container h2 {
  margin-top: 35px;
  margin-bottom: 0;
}

/* -----SOULACE PAGE-------*/
#soulace-content {
  padding: 20px 0;
}

#soulace {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 0;
  padding: 30px;
  padding-top: 100px;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 6px 10px 0px rgba(163, 165, 167, 0.5);
}

#soulace h4 {
  text-align: center;
}

#table-of-contents h2 {
  text-align: center;
}

#contact {
  background-color: #f3e9e1;
  padding: 16px 0;
  text-align: center;
}

/* STILL NEED TO FIGURE OUT HOW I WANT TO STYLE AND DISPLAY THIS SECTION MORE..*/
ul.contents-list {
  list-style-type: none;
  text-align: center;
}

/* FOOTER SOCIALS */
ul.socials {
  list-style-type: none;
  display: inline-flex;
  margin-right: 65px;
}

footer {
  position: relative;
  clear: both;
}

/* only keep media queries at the end of other styling */

/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding : 15px;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .col-lg-5 {
    width: 45%;
  }

  .col-lg-7 {
    width: 50%;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
